	.st {
		text-align: center;	
		color: white;
	}
	.st01{
		/*background-color: whitesmoke;*/
		color: black;
	}
	.st02{
		background-color: orange;
	}
	.st03{
		background-color: #C8B560;
	}
	.st04{
		background-color: green;
	}
	.st05{
		background-color: red;
	}
	.st06{
		background-color: black;
	}